<!-- host.component.html -->

<div class="background">
  <div class="flex-container">
    <mat-card class="host-card">
      <div class="sign">
        <h1>All Past Hunts</h1>
      </div>
    </mat-card>
    <div class="dashboard">
      <table class="hunt-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Owner ID</th>
          </tr>
        </thead>
        <tbody>
          @if (serverFilteredTasks) {
            <div class="flex-1" >
              <mat-nav-list class="task-nav-list">
                @for (task of serverFilteredTasks; track task._id) {
                  <td>{{ taskHuntName }}</td>
                  <td>{{ taskHuntDescription }}</td>
                  <td>{{ taskHuntId }}</td>
                }
            </mat-nav-list>
            </div>
          } @else {
            <div class="flex-1" class="user-error">
              <mat-card class="host-card">
                There was a problem loading the tasks. Possibly the server is down or perhaps there are network
                issues.
              </mat-card>
            </div>
          }
        </tbody>
      </table>
    </div>
    <button class="create-button" [routerLink]="['/create']">Create a Hunt</button>

  </div>
</div>
