<div class="background">
  <div class="flex-container">
    <mat-card class="host-card">
      <div class="sign">
        <h1>All Past Hunts</h1>
      </div>
    </mat-card>
      <div class="dashboard">
        <table class="hunt-table">
          <thead>
            <tr>
              <th>Time Created</th>
              <th>Name of Hunt</th>
              <th>Task List</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2024-02-27 10:00 AM</td>
              <td>Hunt 1</td>
              <td>Task 1, Task 2, Task 3</td>
              <td>
                <button class="action-button">Start a Hunt</button>
                <button class="action-button">Delete Hunt</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
