.task-element-component{
  position: relative;
  width: 25%;
  margin-top: 10%;
  margin-left: 38%;
  background-color: transparent;
  border: none;
}

.task-description{
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 7px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
