.background {
  background-image: url("src/app/home/Forestbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* Set the background color you want */
}

.flex-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make the flex container take up the full height */
}

.home-card {
  max-width: 80%; /* Set the maximum width for the card */
}


.iteration-message {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 14px;
}
