.background {
  background-image: url("src/app/home/Forestbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* Set the background color you want */
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.home-card {
  position: center;
  width: 25%;
  margin-top: 10%; /* Add some margin between the cards */
  margin-left: 38%;
  background-color: transparent; /* Set background color to transparent */
  border: none;
}

.bottom-card {
  width: 100%;
  margin-left: 0%;
  margin-top: 30%; /* Push the card to the bottom */
}



.iteration-message {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 14px;
}

.sign {
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Dark green background color */
  color: white; /* White text color */
  padding: 7px;
  border: 2px solid black; /* Black border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}

.sign h1 {
  margin: 0;
}

.action-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px; /* Add some spacing between the buttons */
}

.action-button:last-child {
  margin-right: 0; /* Remove margin from the last button to prevent extra space */
}

