<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="background">
    <div class="flex-container">
      <div class="home-card">
        <div class="sign">
          <h1>Create a Hunt</h1>
        </div>
      </div>

      <div class="input-card">
        <div class="sign">
          <input type="text" placeholder="Owner ID">
          <input type="text" placeholder="Description">
          <input type="text" placeholder="Name">
          <button class="submit-button" (click)="goBack()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
